div {

}
body {

	background-image: url("images/logo.gif");
	background-color: #000000;
	background-repeat: repeat;
	z-index: -1;

}


#title {
	text-align: center;
	color: red;
	font-size: 500%;
	font-family: arial;
	font-weight: bold;
	background-color: silver;
	max-width: 100%;
	max-height: 100%;
}

.navigation_bar {
	max-width: 95%;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


img:hover {
	box-shadow: 0 0 10px 10px red;
	
}

img {
	border-radius: 20px;
	height: 250px;
	width: 250px;
	max-width: 90%;
	max-height: 90%;
	border: 5px solid gray;
	margin-left: 20px;
    padding 20px;
    margin-top: 20px;
    text-align: left;
    display: inline;

	
}


p {
	color: white;
}

.text {
    color: black;
    font-weight: bold;
    display: inline;
    text-align: center;
    margin-bottom: 50%;
    position: absolute;
    height: 100px;
    margin-left: 20px;
    font-size: 30px;
    margin-right: 10px;
}
.block {
    background-color: transparent;
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

.white_border_img {
    text-align: auto;

}

a {
}

.item {
    width: 100%;
    max-width: 700px;
            background-color: burlywood;


}

.field {
    
    display: block;
}

.price {
    color: black;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-right: 20px;
    

}

#subtitle{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: azure;
    color: black;
    padding: 10px;
}
