#wrapper {
	height: 1900px;
	width: 1000px;
	background-color: #A6A6A6;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
#banner {
	height: auto;
	width: 1000px;
}

body {
	background-attachment: auto;
	background-image: url(https://i.pinimg.com/originals/85/27/2a/85272a71549d10620fa09f6756d6b765.jpg);
}

#text {
    color: lightgray;
    font-size: 24pt;
}
.
#tour {
	height: auto;
	width: auto;
	position: absolute;
	left: 682px;
	top: 359px;
}
#music {
	height: auto;
	width: auto;
}
#media {
	height: auto;
	width: auto;
	position: absolute;
}

#bio {
	height: auto;
	width: auto;
}
#shop {
	height: auto;
	width: auto;
	position: absolute;
	left: 682px;
	top: 46px;
    }
#point {
	height: auto;
	width: auto;
	position: absolute;
	left: 448px;
	top: 275px;
}
.social-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: auto;
}
.social {
	height: auto;
	width: auto;
    }