body {
	background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: lightgray;
    color: black;
}

.header {
    color: white;
    font-weight: bold;
    font-size: 42pt;
    text-align: center;
}
.center{
    text-align: center;
}

#portrait {
    height: 60vw;
    width: 60vw;
    max-width: 480px;
    max-height: 480px;
}

.body-text {
    color: lightgray;
    font-size: 24pt;
    text-align: center;
    padding-bottom: 5vh
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.pictures {
    height: auto;
    max-height: 60vw;
    width: auto;
    max-width: 40vw;
}

.caption-text {
    color: lightgray;
    font-size: 100%;
    font-style: italic;
    text-align: center;
}

.disclaimer-text {
    color: lightgray;
    font-size: 10pt;
    font-style: italic;
    text-align: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    vertical-align: middle;
    align-items: center;
}

.grid-item-square{
	height: auto;
	width: auto;
    max-height: 158px;
    max-width: 20vw;
    padding-right: 2vw;
}

.grid-item-long{
	height: auto;
	width: auto;
    padding-left: 2.5vw;
    padding-right: 5vw;
    max-width: 20vw;
    
}
.social {
	height: auto;
	width: auto;
    
    }

#banner {
    padding-top: 5vh;
    padding-bottom: 5vh;
	height: 50vh;
	width: 75vw;
    min-width: 200px;
    max-height: 300px;
    align-items: center;
}